/* FOR ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*FOR BODY AREA*/

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

#navbar {
    border-bottom: 10px solid;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 
  
}

#ul-container {
    height: 50px;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ul-container > ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}


#maincontent {
    flex: 1;
    border: 5px dashed red;
}

#footer {
    height: 50px;
}
